[Unit]
Description=wVote

[Service]
Type=simple
WorkingDirectory=/opt/wVote/
ExecStart=/usr/bin/nohup /usr/bin/python3 -m wvote.main
KillSignal=SIGINT
SuccessExitStatus=SIGINT
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

