label
{
    margin: 8px;
}

input
{
    font-size: 1em;
}

h3
{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    text-decoration: underline;
    text-align: left;
}

h3:hover
{
    cursor: pointer;
}

.admin-entry-form
{
	background: linear-gradient(to bottom left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
	width: 500px;
	border: 1px solid black;
}

.admin-entry-param
{
	text-align: center;
}

.admin-submit-form
{
	margin: auto;
	width: 500px;
}

.admin-submit-button
{
	background-color: white;
	box-shadow: 0px 3px 5px gray;
	border: 1px solid black;
	padding: 8px;
	width: 150px;
	margin-left: 175px;
}

.admin-submit-button:hover
{
	cursor: pointer;
}

.submit-babble
{
	text-align: center;
}

.entry-list
{
	float: right;
}

.form-invalid
{
	background: rgb(255, 180, 180);
}

.admin-controls
{
	text-align: center;
	padding: 32px;
	border: 1px solid black;
	background: rgba(255, 255, 255, 0.5)
}
