label
{
	margin: 8px;
}

.entry-form
{
	background: linear-gradient(to bottom left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
	padding: 16px;
	width: 500px;
}

.entry-param
{
	margin: 4px;
	text-align: center;
}

.submit-form
{
	margin: auto;
	width: 500px;
}

.submit-button
{
	background-color: white;
	box-shadow: 0px 3px 5px gray;
	border: 1px solid black;
	padding: 8px;
	width: 150px;
	margin-left: 175px;
}

.submit-button:hover
{
	cursor: pointer;
}

.submit-babble
{
	text-align: center;
}

.entry-list
{
	float: right;
}

.form-current-week
{
	background: rgb(255, 150, 150);
	border: 1px solid black;
}

.admin-controls
{
	text-align: center;
	padding: 32px;
	border: 1px solid black;
	background: rgba(255, 255, 255, 0.5)
}
