@font-face
{
	font-family: font-ubuntu;
	src: url("/static/ubuntu-regular.ttf");
}

body
{
	font-family: font-ubuntu, Arial;
	font-size: 1.1em;
	color: black;
	margin: 0;
	padding: 0;
	background-color: #ffccff;
}

h1
{
	background-color: #FF00FF;
	background: url("/static/banner_background.png");
	background-repeat: repeat-x;
	color: white;
	font-size: 3em;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 48px;
	text-shadow: 2px 2px black;
}

td
{
	font-size: 0.9em;
	padding: 0.5em;
	background-color: white;
	text-align: center;
}

button
{
	background-color: white;
	box-shadow: 0px 3px 5px gray;
	border: 1px solid black;
	padding: 8px;
}

button:hover
{
	cursor: pointer;
}

.week-title
{
	text-align: center;
	margin-bottom: 0px;
}

.week-subtitle
{
	margin-top: 0px;
	text-align: center;
	font-size: 0.75em;
}

.entries-container
{
	background-image: url("/static/vote_background.png"), linear-gradient(to bottom left, #f0c1f0, #e085e0);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
	
	float: left;
	width: 80%;
	height: calc(100vh - 48px - 64px);
	overflow: scroll;
	
	position: relative;
}

@media not screen and (min-width: 1024px) and (orientation: landscape)
{
	.entries-container
	{
		width: 100%;
	}
}

.entry-list-toggle-enter-active, .entry-list-toggle-leave-active
{
	transition: opacity 0.15s, transform 0.15s;
}

.entry-list-toggle-enter, .entry-list-toggle-leave-to
{
	opacity: 0;
	transform: translateX(-50vw);
}

.entry-table
{
	margin: auto;
	margin-top: 25px;
	overflow: auto;
}

.pdf-container
{
	float: right;
	height: calc(100vh - 48px - 64px);
	background-image: linear-gradient(to bottom left, #ff66ff, #eaaeea);
	position: absolute;
	right: 0px;
	z-index: -1;
}

.pdf-container-small
{
	display: none;
}

@media only screen and (min-width: 1024px) and (orientation: landscape)
{ 
	.pdf-container-small
	{
		width: 20%;
		display: block;
	}
}

.pdf-container-full
{
	width: 100%;
	display: block;
}

.pdf-viewer-welcome
{
	display: block;
	margin: auto;
	width: 50%;
	text-align: center;
}

.pdf-viewer-live
{
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
}

.viewer-controls
{
	margin: auto;
	padding: 0px;
	height: 64px;
	width: 100vw;
	position: fixed;
	top: calc(100vh - 64px);
}
