<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Admin Interface - 8 Bit Music Theory Weeklies</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/admin.css" type="text/css" media="all">
</head>
<body>
	<h1>
		<img src="/static/banner.png" alt="8BIT MUSIC THEORY WEEKLIES" />
	</h1>
	<div id="content">
		<div class="submit-babble">
			<p>Welcome to the super-ugly administration interface!</p>
			<p>On the left is a preview of what the interface will look like to the public, once we roll out the next week.</p>
			<p>On the right are submission forms you can use to edit or delete existing submissions, from the current week as well as the next.</p>
			<p>The submissions are also labeled "(valid)" or "(invalid!)". To be valid, an entry must be adequately filled out, with mp3 and pdf uploaded. An entry will only be displayed in the voting interface if it is valid.</p>
			<p>If you need help, or if something seems amiss, message @wilm0x42, and he'll ii V us back to I.</p>
		</div>
		<div class="admin-controls">
			[ADMIN-CONTROLS]
		</div>
		<div class="entries-container">
			[VOTE-CONTROLS]
		</div>
		<div class="pdf-container" id="pdf-container">
			<div id="pdf-viewer" class="pdf-viewer-welcome">
				<div id="pdf-alt" class="pdf-alt">
					<img width="100%" src="/static/kirb_phones.png" />
					<h2>Welcome!<br>Select one of the entries on the left to view its score.</h2>
				</div>
			</div>
		</div>
		<div class="entry-list">
			[ENTRY-LIST]
		</div>
	</div>

	<script>
	    function foldForm(form)
	    {
	        var params = form.getElementsByClassName("admin-entry-param");
	        var breaks = form.getElementsByTagName("br");

	        var setTo = !params[0].hidden;

	        for (var i = 0; i < params.length; i++)
	        {
	            // We skip the second parameter, as it indentifies
	            // the entry by the entrant's name.
	            if (i == 1)
	                continue
	            params[i].hidden = setTo;
	        }

	        for (var i = 0; i < breaks.length; i++)
	        {
	            breaks[i].hidden = setTo;
	        }
	    }

	    adminForms = document.getElementsByClassName("admin-entry-form")

	    for (var i = 0; i < adminForms.length; i++)
	    {
	        foldForm(adminForms[i])
	    }
	</script>

	<script>
		function viewPDF(url)
		{
			document.getElementById("pdf-container").innerHTML =
				`<object id="pdf-viewer" class="pdf-viewer-live" data="${url}" type="application/pdf">
					<div id="pdf-alt" class="pdf-alt">
						<img width="100%" src="/static/kirb_think.png">
						<h2><a href="${url}">Link to PDF (embedded viewer failed)</a></h2>
					</div>
				</object>`;
		}
	</script>
</body>
</html>
