<!doctype html>
<!-- TODO: Remove this template and merge with the submit/vote apps -->
<html>
<head>
	<meta charset="utf-8" />
	<title>Thank You - 8 Bit Music Theory Weeklies</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/form.css" type="text/css" media="all">
</head>
<body>
	<h1>
		<img src="/static/banner.png" alt="8BIT MUSIC THEORY WEEKLIES" />
	</h1>
	<div id="content">
		<div class="submit-babble">
			<h2>[HEADER]</h2>
			<p>[BODY]</p>
			<img width="500px" src="/static/kirb_thanks.png"/>
		</div>
	</div>

	<script>
	</script>
</body>
</html>
